In [22]:
import pandas as pd

In [23]:
c1 = pd.read_csv("metacritic_xbox1.csv")
c2 = pd.read_csv("metacriticPc.csv")
c3 = pd.read_csv("metacriticPs4.csv")
c4 = pd.read_csv("metacriticPs5.csv")
c5 = pd.read_csv("metacriticSwitch.csv")
c6 = pd.read_csv("metacriticXboxSX.csv")

In [24]:
c1.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,NaN,1,XboxOne,"Action,Action Adventure,Platformer,Open-World,...","April 6, 2023",Curse of the Sea Rats is a 'ratoidvania' platf...,Curse of the Sea Rats,0.0
1,NaN,1,XboxOne,"Action,Strategy,Real-Time,General,Defense","April 6, 2023",A high-tempo shooting game with simple control...,Marfusha,NaN
2,NaN,1,XboxOne,"Action,Platformer,2D","April 7, 2023",Join the cute Bumballon on this frantic advent...,Bumballon,NaN
3,NaN,1,XboxOne,"Action Adventure,Survival","April 7, 2023","In this horror game, you'll have to immerse yo...",Horror Tale 1: Kidnapper,NaN
4,NaN,1,XboxOne,"Action,Platformer,3D","April 7, 2023",Start the best Enigmatic Adventure of your lif...,Joe Wander and the Enigmatic adventures,NaN

In [25]:
c2.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,NaN,1,PC,"Racing,Arcade,Other","April 13, 2023","From the creators of PHOGS!, Tray Racers! is a...",Tray Racers!,NaN
1,84.0,1,PC,"Action Adventure,Adventure,General","April 13, 2023",Hunt the Night is a retro-style action-adventu...,Hunt the Night,NaN
2,NaN,1,PC,"Action,Adventure,General,Shooter,Rail","April 11, 2023",After drinking a lot with your friends at the ...,Crystal Blast,NaN
3,NaN,2,PC,"Adventure,Puzzle,General","April 7, 2023",STRIPPERS - is the simplest 2D puzzle the fina...,STRIPPERS,NaN
4,NaN,2,PC,"Action,Adventure,General,Visual Novel","April 7, 2023",You're a graduating university student but sti...,My MILF Stepmom,NaN

In [26]:
c3.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,NaN,1,PlayStation4,"Action,Platformer,2D","April 9, 2023",Far into the future after technology has devel...,Egglien,NaN
1,NaN,1,PlayStation4,"Action,Strategy,Real-Time,General,Defense","April 6, 2023",A high-tempo shooting game with simple control...,Marfusha,NaN
2,NaN,1,PlayStation4,"Action,Platformer,2D","April 7, 2023",Inspired by Jorge Luis Borges' short story of ...,The Library of Babel,NaN
3,NaN,1,PlayStation4,"Action Adventure,Survival","April 7, 2023","In this mode, the player selects a Resi 4 char...",Resident Evil 4: The Mercenaries,NaN
4,NaN,1,PlayStation4,"Action,Action Adventure,Platformer,Open-World,...","April 6, 2023",Curse of the Sea Rats is a 'ratoidvania' platf...,Curse of the Sea Rats,0.0

In [27]:
c4.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,76.0,1,PlayStation5,"General,Adventure,3D,Third-Person","April 11, 2023",Sherlock Holmes: The Awakened remake sees a yo...,Sherlock Holmes: The Awakened,NaN
1,NaN,1,PlayStation5,"Action,Strategy,Real-Time,General,Defense","April 6, 2023",A high-tempo shooting game with simple control...,Marfusha,NaN
2,NaN,1,PlayStation5,"Action,Platformer,2D","April 9, 2023",Far into the future after technology has devel...,Egglien,NaN
3,NaN,1,PlayStation5,"Action,Shooter,Shoot-'Em-Up,Top-Down","April 11, 2023",The Future… Earth is attacked by rebels from V...,Tankorama,NaN
4,NaN,1,PlayStation5,"Action Adventure,Survival","April 7, 2023","In this mode, the player selects a Resi 4 char...",Resident Evil 4: The Mercenaries,NaN

In [28]:
c5.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,NaN,1,Switch,"Strategy,Turn-Based,Card Battle","April 13, 2023",10 new cards appear in LogiKing LEVEL2 !!\rKee...,LogiKing LEVEL2,NaN
1,NaN,1,Switch,"Puzzle,Action","April 13, 2023",Paint yourself to solve the puzzles!\r\rSokolo...,Sokolor,NaN
2,NaN,1,Switch,"Adventure,Visual Novel","April 13, 2023",With Sable's first year at Amadronia coming to...,Sable's Grimoire: A Dragon's Treasure,NaN
3,NaN,1,Switch,"Action,Shooter,Shoot-'Em-Up,Top-Down","April 13, 2023",A new game about tanks with dynamic battles.Ma...,New Tanks,NaN
4,NaN,1,Switch,"Role-Playing,General","April 13, 2023",Defeat the demon king with a monster girl as a...,JarataireRPG,NaN

In [29]:
c6.head()

,meta_score,page,platform,product_genre,release_date,summary,title,user_score
0,NaN,1,XboxSX,"Action Adventure,Survival","April 7, 2023","In this mode, the player selects a Resi 4 char...",Resident Evil 4: The Mercenaries,NaN
1,84.0,1,XboxSX,"Action Adventure,General","April 12, 2023",Save a Tokyo under siege by spirits in a new a...,GhostWire: Tokyo,NaN
2,NaN,1,XboxSX,"Strategy,Turn-Based,Card Battle","April 10, 2023",From the creator of Pony Island and The Hex co...,Inscryption,NaN
3,76.0,1,XboxSX,"Adventure,General,3D,Third-Person","April 11, 2023",Sherlock Holmes: The Awakened remake sees a yo...,Sherlock Holmes: The Awakened,NaN
4,NaN,1,XboxSX,"Action,Platformer,2D","April 7, 2023",Inspired by Jorge Luis Borges' short story of ...,The Library of Babel,NaN

In [30]:
combined = pd.concat([c1, c2, c3, c4, c5, c6], ignore_index=True)

In [31]:
cols = ['title', 'platform', 'product_genre', 'release_date', 'meta_score', 'user_score','summary']

In [32]:
combined = combined[cols]

In [33]:
combined.head()

,title,platform,product_genre,release_date,meta_score,user_score,summary
0,Curse of the Sea Rats,XboxOne,"Action,Action Adventure,Platformer,Open-World,...","April 6, 2023",NaN,0.0,Curse of the Sea Rats is a 'ratoidvania' platf...
1,Marfusha,XboxOne,"Action,Strategy,Real-Time,General,Defense","April 6, 2023",NaN,NaN,A high-tempo shooting game with simple control...
2,Bumballon,XboxOne,"Action,Platformer,2D","April 7, 2023",NaN,NaN,Join the cute Bumballon on this frantic advent...
3,Horror Tale 1: Kidnapper,XboxOne,"Action Adventure,Survival","April 7, 2023",NaN,NaN,"In this horror game, you'll have to immerse yo..."
4,Joe Wander and the Enigmatic adventures,XboxOne,"Action,Platformer,3D","April 7, 2023",NaN,NaN,Start the best Enigmatic Adventure of your lif...

In [34]:
combined.to_csv("metacritic.csv")